<footer>
  <div class="container">
    <p>
      <mat-toolbar color="primary">
        <span>
          <mat-icon>location_on</mat-icon>
          45, rue de Paris 95 747 Roissy CDG Cedex
        </span>

        <button mat-button aria-label="accueil" [routerLink]="['/error']">
          à propos
        </button>
        <button mat-button aria-label="accueil" [routerLink]="['/error']">
          contacts
        </button>

        <a [href]="'https://www.linkedin.com/company/ludoth%C3%A8que-le-d%C3%A9-blanc/'" target="_blank">
          <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/Untitled-11-32.png" alt="" matTooltip="LinkedIn" matTooltipPosition="above">
        </a>

        <a [href]="'https://twitter.com/ludothequeniazo'" target="_blank">
          <img src="https://cdn4.iconfinder.com/data/icons/miu-hexagon-flat-social/60/twitter-hexagon-social-media-32.png" alt="" matTooltip="Twitter" matTooltipPosition="above">
        </a>

        <a [href]="'https://github.com/cocof-cirb/pmb_ludoTech'" target="_blank">
          <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/github_six_color-32.png" alt="" matTooltip="Github" matTooltipPosition="above">
        </a>

        <a [href]="'https://www.facebook.com/ludo.ledeblanc/'" target="_blank">
          <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/Untitled-16-32.png" alt="" matTooltip="Facebook" matTooltipPosition="above">
        </a>


      </mat-toolbar>
    </p>
  </div>
</footer>
