<div class="container">
  <p>
    <mat-toolbar color="primary">
      <span>Gestion dépenses</span>
      <button mat-raised-button routerLinkActive="mat-warn" aria-label="dashboard" [routerLink]="['/dashboard']">
        <mat-icon>home</mat-icon>
        Accueil
      </button>
      <button *ngIf="auth.isLoggedOut$ | async" mat-raised-button routerLinkActive="mat-warn"[routerLink]="['/login']" >
        <mat-icon>login</mat-icon>
        Connexion
      </button>
      <button *ngIf="auth.isLoggedOut$ | async" mat-raised-button routerLinkActive="mat-warn"[routerLink]="['/register']" >
        <mat-icon>how_to_reg</mat-icon>
        Enregistrement
      </button>
      <button *ngIf="auth.isLoggedIn$ | async" mat-raised-button  (click)="logout()">
        <mat-icon>logout</mat-icon>
        Déconnexion
      </button>
    </mat-toolbar>
  </p>
  <router-outlet></router-outlet>
  <!--
    <app-show-messages></app-show-messages>
  -->
</div>
