<div class="container">
  <p>
    <mat-toolbar color="primary">
      <span>The best ludotheque</span>

      <button mat-raised-button routerLinkActive="mat-warn" aria-label="accueil" [routerLink]="['/accueil']">
        <mat-icon>home</mat-icon>
        Accueil
      </button>

      <button *ngIf="auth.isLoggedOut$ | async" mat-raised-button routerLinkActive="mat-warn"[routerLink]="['/login']" >
        <mat-icon>login</mat-icon>
        Connexion
      </button>

      <button *ngIf="auth.isLoggedOut$ | async" mat-raised-button routerLinkActive="mat-warn"[routerLink]="['/register']" >
        <mat-icon>how_to_reg</mat-icon>
        Enregistrement
      </button>

      <button *ngIf="auth.isLoggedIn$ | async" mat-raised-button  (click)="logout()">
        <mat-icon>logout</mat-icon>
        Déconnexion
      </button>

      <button *ngIf="auth.isLoggedIn$ | async" mat-button routerLinkActive="mat-warn"[routerLink]="['/profil']" >
        <mat-icon>account_circle</mat-icon>
        Profil
      </button>

      <button *ngIf="auth.isLoggedIn$ | async" mat-button routerLinkActive="mat-warn"[routerLink]="['/listeJeu']" >
        <mat-icon>games</mat-icon>
        Liste jeux
      </button>

      <button *ngIf="auth.isLoggedIn$ | async" mat-button routerLinkActive="mat-warn"[routerLink]="['/creationJeu']" >
        <mat-icon>library_add</mat-icon>
        Creation jeu
      </button>

      <button *ngIf="auth.isLoggedIn$ | async" mat-button routerLinkActive="mat-warn"[routerLink]="['/modificationJeu/0']" >
        <mat-icon>loop</mat-icon>
        Modification jeu
      </button>

      <button *ngIf="auth.isLoggedIn$ | async" mat-button routerLinkActive="mat-warn"[routerLink]="['/imageUpload/0']" >
        <mat-icon>loop</mat-icon>
        Modification url
      </button>
        <a *ngIf="auth.user$ | async as user">{{ user.nom }}</a>
        <a *ngIf="auth.user$ | async as user">{{ user.prenom }}</a>
    </mat-toolbar>
  </p>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>

